.whole {
    text-align: center;
}

#picture {
    position: relative;
}

#body {
    text-align: center;
    margin: 0 auto;
}

#top div {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 33.33%;
    padding: 5px 0 5px;
}

#top {
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    top: 13%;
    left: 15px;
    right: 15px;
    position: absolute;
    box-shadow: 2px 2px 6px #0072e5;
    padding: 10px;
    width: 87%;
}

#bottom div {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 33.33%;
    padding: 15px 0 15px;
}

#bottom {
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 2px 2px 6px #0072e5;
    padding: 10px;
    margin-top: 100px;
    width: 87%;
    margin-left: 4%;
}

#top div a, #bottom div a {
    text-decoration: none;
}

#top div a p, #bottom div a p {
    color: black;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

#top div a img, #bottom div a img {
    width: 50px;
    height: 50px;
}

.a img {
    width: 50px;
    height: 50px;
}

#register {
    position: absolute;
    top: 10%;
    left: 80%;
    color: white;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    cursor: pointer;
}

#signOut {
    position: absolute;
    top: 10%;
    left: 85%;
    color: white;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    cursor: pointer;
}

#one #two #three #four {
    cursor: pointer;
}

button {
    border: 0;
    background-color: white;
}