.whole {
    text-align: center;
}

#picture {
    position: relative;
}

#head {
    text-align: center;
    margin: 0 auto;
}

#body {
    border-radius: 5px;
    background-color: white;
    top: 22%;
    left: 15px;
    right: 15px;
    position: absolute;
    box-shadow: 2px 2px 6px #0072e5;
    padding: 10px;
}

#text1 {
    width: 90%;
    height: 50px;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgb(246, 247, 251);
    border: 0;
    margin-left: 5%;
    font-size: 16px;
    pointer-events: auto;
}

#text2, #text22 {
    width: 90%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(246, 247, 251);
    border: 0;
    margin-left: 5%;
    font-size: 16px;
    pointer-events: auto;
}

#text3 {
    width: 90%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(246, 247, 251);
    border: 0;
    margin-left: 5%;
    position: relative;
    font-size: 16px;
    pointer-events: auto;
}

::-webkit-input-placeholder {
    font-family: "Microsoft YaHei";
    color: rgb(176, 182, 203);
    font-size: 16px;
    padding-left: 20px;
}

#getCode {
    position: absolute;
    width: 130px;
    height: 40px;
    right: 10%;
    margin-top: 7.5%;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #3499f8, #1f79f2);
    border-radius: 10px;
    border: 0;
}

#b1 {
    margin-top: 20px;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(to right, #3499f8, #1f79f2);
    color: rgb(255, 255, 255);
    font-family: "Microsoft YaHei";
    font-size: 18px;
    border: 0;
    margin-left: 5%;
    margin-bottom: 20%;
    cursor: pointer;
    line-height: 45px;
    text-align: center;
}

/*iphone se以下*/
@media (device-width: 320px) and (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    #getCode {
        width: 110px;
        margin-top: 8.5%;
    }
}

@media (min-device-width: 375px) and (max-device-width: 667px) and (max-device-height: 800px) and (-webkit-min-device-pixel-ratio: 2) {
    #getCode {
        margin-top: 6.5%;
    }
}

@media (min-device-width: 375px) and (max-device-width: 667px) and (min-device-height: 801px) and (-webkit-min-device-pixel-ratio: 2) {
    #getCode {
        margin-top: 7%;
    }
}

@media (min-device-width: 768px) and (max-device-width: 835px) and (-webkit-min-device-pixel-ratio: 2) {
    #getCode {
        margin-top: 3.5%;
    }

    #body {
        top: 30%;
    }
}

@media (min-device-width: 1024px) and (min-device-height: 1350px) and (-webkit-min-device-pixel-ratio: 2) {
    #getCode {
        margin-top: 2.5%;
    }

    #body {
        top: 30%;
    }
}